<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Web Commercial ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/articleCommande.js")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["login"] == null)
                {
                    @Html.ActionLink("Polytech Commercial", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Polytech Commercial", "Index", "Commande", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fichier<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Application</li>
                            <li class="dropdown-header">----------</li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/LogOut">Quitter</a></li>
                        </ul>
                    </li>
                    @if (Session["login"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Interroger<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Fiches</li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/Client">Liste des Clients</a>
                                </li>
                                <li><a href="#">Fiche Vendeur</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Commandes</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/Commande">Liste des commandes</a></li>
                                <li><a href="/Commande/Ajouter">Ajouter une nouvelle commande</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Article</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/Article/Index">Liste des articles</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gérer<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Gestion</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/Client/Ajouter">Ajouter Client</a></li>
                                <li><a href="#">Modifier Article</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Produits</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/Article/AugmenterArticle">Augmenter Prix</a></li>
                            </ul>
                        </li>
                    }
                    <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Session["login"] == null)
                    {
                        <li>@Html.ActionLink("Se connecter", "Index", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Mes informations", "InfoVendeurConnecte", "Vendeur")</li>
                        <li>@Html.ActionLink("Déconnexion", "Logoff", "Login")</li>
                        <li style="background-color:grey;color:white;float:right;">
                            <a href="#" style="color:white;float:right;"><b>Bonjour, @Session["prenom"] @Session["nom"]</b></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p> @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>

