@model  WebCommercialEntity.Models.DetailCde

@{
    ViewBag.Title = "Détail";
    Layout = "~/Views/Shared/_LayoutCommercial.cshtml";
}

<h2>Détail d'une commande</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <br/>
    <h5><b>Commande n° @Model.Com.NO_COMMAND </b></h5>
    <h5><b>Passée le : @Model.Com.DATE_CDE </b></h5>
    <table class="table table-striped">
        <tr>
            <th align="center">N°Article</th>
            <th align="center">Libellé</th>
            <th align="center">Prix unitaire</th>
            <th align="center">Quantité commandée</th>
            <th align="center">Montant total</th>
        </tr>
        @{double total = 0; }
        @foreach (var model in Model.DetailCdes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelDisplay => model.Art.NO_ARTICLE)<br />
                </td>
                <td>
                    @Html.DisplayFor(modelDisplay => model.Art.LIB_ARTICLE)<br />
                </td>
                <td>
                    @Html.DisplayFor(modelDisplay => model.Art.PRIX_ART)<br />
                </td>
                <td>
                    @Html.DisplayFor(modelDisplay => model.Qte_cdee)
                </td>
                <td>
                    @Html.DisplayFor(modelDisplay => model.Total)
                </td>
                @{ total += model.Total;}
            </tr>
        }
    </table>
    <h5><b>Total de la commande : @total euros </b></h5>
</body>
</html>
