@model System.Data.DataTable
@using System.Data;

@{
    ViewBag.Title = "Liste des  Commandes ";
    Layout = "~/Views/Shared/_LayoutCommercial.cshtml";

}
@if (Model != null && Session["login"] != null)
{

    if (TempData["success"] != null)
    {
        @Html.Raw("<script type='text/javascript'>alert(\"" + TempData["success"] + "\");</script>");
    }
    if(TempData["addCommand"] != null)
    {
        @Html.Raw("<script type='text/javascript'>alert('Commande ajoutée');</script>");
    }
    <div class="container">
        <div class="col-md-11 col-sm-11">
            <div class="blanc">
                <h1>Liste des Commandes </h1>
            </div>
            <div>
                <a href="/Commande/Rechercher" class="btn btn-info">Recherche de commandes dans une période donnée</a>
            </div>
            <br />
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th> N° Commande</th>
                        <th> Date Commande</th>
                        <th> Nom Client </th>
                        <th>Société</th>
                        <th>Ville Client</th>
                        <th>Nom vendeur</th>
                        <th style="width:80px">Modifier</th>
                        <th style="width:80px">Supprimer</th>
                        <th style="width:80px">Détail de la commande</th>
                    </tr>
                </thead>
                @foreach (DataRow dataRow in Model.Rows)
        {
            <tr>
                @foreach (var item in dataRow.ItemArray)
        {
            <td>
                @item.ToString()

            </td>
}
                <td style="text-align:center;">
                    <span>
                        @Html.ActionLink("  ", "Modifier", "Commande", new { id = dataRow[0] }, new { @class = "btn btn-default btn-primary glyphicon glyphicon glyphicon-pencil" })
                    </span>
                </td>
                <td style="text-align:center;">
                    <span>
                        @Html.ActionLink("  ", "Supprimer", "Commande", new { id = dataRow[0] }, new { @class = "btn btn-default btn-primary glyphicon glyphicon glyphicon-remove", id = "deleteCommand" + dataRow[0] })
                    </span>
                </td>
                <td>
                    <span>
                        @Html.ActionLink(" ", "Detail", "Commande", new { id = dataRow[0] }, new { @class = "btn btn-default btn-primary glyphicon glyphicon glyphicon-list-alt" })
                    </span>
                </td>

            </tr>

}

            </table>
        </div>
    </div>
}
else
{
    @Html.Partial("_AccesInterdit");
}
