@model System.Data.DataTable
@using System.Data;

@{
    ViewBag.Title = "Rechercher des commandes entre périodes";
    Layout = "~/Views/Shared/_LayoutCommercial.cshtml";
}

@if (Session["login"] != null)
{
    <div class="container">
        <div class="col-md-11 col-sm-11">
            <div class="blanc">
                <h1>Liste des Commandes </h1>
            </div>
            <div class="row">
                <form action="/Commande/Rechercher" id="formRecherche" method="post">
                    <div class="col-md-4">
                        <label>
                            Recherche de commandes du:
                            <input type="text" class="form-control" value="@(TempData["dateDeb"] != null? TempData["dateDeb"]:"")" id="date_debut" name="date_debut" style="width:150px;" />
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label>
                            au :
                            <input type="text" class="form-control" value="@(TempData["dateFin"] != null? TempData["dateFin"]:"")" id="date_fin" name="date_fin" style="width:150px;" />
                        </label>
                        <input type="submit" id="rechercheCommande" name="rechercheCommande" class="btn btn-info" value="OK" />
                    </div>

                </form>
            </div>
            @if((Boolean)TempData["recherche"] && !(Boolean)TempData["rechercheVide"])
            {
                if(Model.Rows.Count > 0) { 
            <table id="resultRecherche" class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th> N° Commande</th>
                        <th> Date Commande</th>
                        <th> Nom Client </th>
                        <th>Société</th>
                        <th>Ville Client</th>
                        <th>Nom vendeur</th>
                        <th style="width:80px">Modifier</th>
                        <th style="width:80px">Supprimer</th>
                        <th style="width:80px">Détail de la commande</th>
                    </tr>
                </thead>
                @foreach (DataRow dataRow in Model.Rows)
    {
            <tr>
                @foreach (var item in dataRow.ItemArray)
    {
            <td>
                @item.ToString()

            </td>
}
                <td style="text-align:center;">
                    <span>
                        @Html.ActionLink("  ", "Modifier", "Commande", new { id = dataRow[0] }, new { @class = "btn btn-default btn-primary glyphicon glyphicon glyphicon-pencil" })
                    </span>
                </td>
                <td style="text-align:center;">
                    <span>
                        @Html.ActionLink("  ", "Supprimer", "Commande", new { id = dataRow[0] }, new { @class = "btn btn-default btn-primary glyphicon glyphicon glyphicon-remove", id = "deleteCommand" + dataRow[0] })
                    </span>
                </td>
                <td>
                    <span>
                        @Html.ActionLink(" ", "Detail", "Commande", new { id = dataRow[0] }, new { @class = "btn btn-default btn-primary glyphicon glyphicon glyphicon-list-alt" })
                    </span>
                </td>

            </tr>
                }
            </table>
                }
            }else if((Boolean)TempData["recherche"] && (Boolean)TempData["rechercheVide"])
                {
                    @Html.Raw("<p>Aucun résultat pour cette recherche</p>")
                }
        </div>
    </div>
}
else
{
    @Html.Partial("_AccesInterdit");
}